extends layout 

block content 
    form.container(style="flex-direction: column; gap:20px;"  method="POST", action="/login")
        if errorMessage
        label(style="color: #aa5545") #{errorMessage}
        if successMessage 
        label(style="color: #24aa42") #{successMessage}       
        br
        label(for="user_login") Username Or Email:
        input.inpTxt(type="text" id="user_login" name="user_login" required)
        label(for="password") Password:
        input.inpTxt(type="password" id="password" name="password" required)
        button.btn(style="height:5vh; width:10vw;" type="submit") Login
        p="Don't Have an Account?"
            a(href="/signup")=" Sign Up!"